html{
    background-color: rgb(223, 108, 146);
}

p{
    font-size: 20px;
    color: whitesmoke;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    
}

h1{
    text-align: center;
    text-decoration: ;
}